# Database
DB_NAME=blankit
DB_USERNAME=blankit_user
# MySQL root 비밀번호
DB_PASSWORD=your_root_password_here
# MySQL 일반 유저 비밀번호
DB_USER_PASSWORD=your_user_password_here
# prod: mysql 컨테이너 서비스명을 호스트로 사용 / local: 127.0.0.1:3307
DB_URL=jdbc:mysql://127.0.0.1:3307/blankit?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia%2FSeoul

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_ACCESS_TOKEN_EXPIRATION=3600000
JWT_REFRESH_TOKEN_EXPIRATION=1209600000
